{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} teste</title>
    <link href="{% static "global/css/reset.css" %}" rel="stylesheet"/>
    <link href="{% static "global/css/style.css" %}" rel="stylesheet"/>
    {% block head %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    {% block body %}{% endblock body %}
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
    <script src="{% static "global/js/script.js" %}"></script>
  </body>
</html>
