<div>
    <h2>Welcome!</h2>
    {% if messages %} 
      {% for message in messages %} 
        {% if 'error' in message.tags %}
          <div>
            <i class="fas fa-circle-xmark"></i> 
            <span>{{ message }}</span>
          </div>            
        {% endif %}
        {% if 'warning' in message.tags %}
          <div>
            <i class="fas fa-circle-exclamation"></i> 
            <span>{{ message }}</span>
          </div>            
        {% endif %}
        {% if 'info' in message.tags %}
          <div>
            <i class="fas fa-circle-info"></i> 
            <span>{{ message }}</span>
          </div>            
        {% endif %}
        {% if 'success' in message.tags %}
          <div>
            <i class="fas fa-circle-check"></i> 
            <span>{{ message }}</span>
          </div>            
        {% endif %}
      {% endfor%} 
    {% endif %}
  
    <form method="post" action="{{ form_action }}" novalidate>
      {% csrf_token %}
      <div>
        <i class="fas fa-user"></i>
        <input type="text" name="username" placeholder="User" />
      </div>
  
      <div>
        <i class="fas fa-lock"></i>
        <input type="password" name="password" placeholder="Password" />
      </div>
  
      <button type="submit">Login</button>
    </form>
  </div>
  