<a href="{% url 'app:recipe_detail' recipe_id %}" class="recipe-card-link" title="Click to see the details of this recipe">
<div class="recipe-card">
  <div class="recipe-image-container">
    {% if recipe_data.5 %}
    <img
      src="{{ recipe_data.5.url }}"
      alt="{{ recipe_data.0 }}"
      class="recipe-image"
    />
    {% else %}
    <div class="recipe-image-placeholder">
      <i class="fa-solid fa-utensils" style="color: #f1f1f1"></i>
    </div>
    {% endif %}

    <div class="recipe-actions" title="Click to favorite/unfavorite this recipe">
      <button class="action-btn heart-btn {% if recipe_data.11 %}liked{% endif %}" 
              onclick="event.preventDefault(); event.stopPropagation(); toggleFavorite('{{ recipe_id }}', this, {{ user.is_authenticated|yesno:"true,false" }});">
        <i class="{% if recipe_data.11 %}fa-solid{% else %}fa-regular{% endif %} fa-heart fa-xl"></i>
      </button>
    </div>
  </div>

  <div class="recipe-content">
    <div class="recipe-header">
      <h3 class="recipe-title">{{ recipe_data.0 }}</h3>
      {% if recipe_data.6 %}
      <span class="recipe-type {% cycle 'orange' 'green' 'blue' 'red' %}">
        {{ recipe_data.6 }}
      </span>
      {% endif %}
    </div>

    <p class="recipe-description">{{ recipe_data.1 }}</p>
  </div>
</div>
</a>
