{% extends "global/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block head %}
    <link href="{% static "app/css/style.css" %}" rel="stylesheet"/>
{% endblock head %}

{% block body %} 
    <div class="search-bar">
        <div class="search-container">
            <span class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input type="text" class="search-input" placeholder="Search for recipe here!">
        </div>
        <button class="filter-btn">
            <span>
                <i class="fa-solid fa-filter"></i>
            </span>
        </button>
        <button class="publish-btn">
            <span class="publish-text">Publish a new recipe</span>
            <span class="publish-icon"><i class="fa-solid fa-plus"></i></span>
        </button>
    </div>

    <div class="recipe-grid">
        {% for recipe_id, recipe_data in recipes.items %}
            {% include 'app/partials/recipe_card.html' with recipe_id=recipe_id recipe_data=recipe_data %}
        {% empty %}
            <div class="no-recipes">
                <i class="fa-solid fa-magnifying-glass fa-3x"></i>
                <p>No recipes have been published yet.</p>
            </div>
        {% endfor %}
    </div>
    <script src="{% static "app/js/script.js" %}"></script>
{% endblock body %}
