{% extends "global/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block head %}
    <link href="{% static "app/css/home.css" %}" rel="stylesheet"/>
    <link href="{% static "app/css/recipe_card.css" %}" rel="stylesheet"/>
    {% csrf_token %}
{% endblock head %}

{% block body %} 
    <div class="search-bar">
        <div class="search-container">
            <span class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input 
                type="text" 
                class="search-input" 
                placeholder="Search for recipe here!"
                name="search"
                value="{{ search_query }}"
                hx-get="{% url 'app:home' %}"
                hx-target="#recipe-grid"
                hx-trigger="keyup changed delay:300ms"
                autocomplete="off"
            >
        </div>
        <button class="filter-btn">
            <span>
                <i class="fa-solid fa-filter"></i>
            </span>
        </button>
        <button class="publish-btn">
            <span class="publish-text">Publish a new recipe</span>
            <span class="publish-icon"><i class="fa-solid fa-plus"></i></span>
        </button>
    </div>

    <div class="recipe-grid" id="recipe-grid">
        {% include 'app/partials/recipe_grid.html' %}
    </div>
    <script src="{% static "app/js/home.js" %}"></script>
{% endblock body %}
