{% extends "global/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block head %}
    <link href="{% static "app/css/style.css" %}" rel="stylesheet"/>
{% endblock head %}

{% block body %} 
    <div class="recipe-grid">
        {% for recipe_id, recipe_data in recipes.items %}
            {% include 'app/partials/recipe_card.html' with recipe_id=recipe_id recipe_data=recipe_data %}
        {% empty %}
            <p>Nenhuma receita foi publicada até o momento.</p>
        {% endfor %}
    </div>
    <script src="{% static "app/js/script.js" %}"></script>
{% endblock body %}
