{% extends "global/base.html" %}
{% load static %}

{% block title %}{{ recipe.title }}{% endblock title %}

{% block head %}
    <link href="{% static "app/css/recipe.css" %}" rel="stylesheet"/>
{% endblock head %}

{% block body %}
    <div class="recipe-detail-container">
        <div class="recipe-back-navigation">
            <a href="{% url 'app:home' %}" class="return-link">
                <i class="fa-solid fa-arrow-left"></i>
                <span>Back to Home</span>
            </a>
        </div>
        
        <div class="recipe-header-detail">
            <div class="recipe-image-detail">
                {% if recipe.cover %}
                    <img src="{{ recipe.cover.url }}" alt="{{ recipe.title }}" class="recipe-main-image">
                {% else %}
                    <div class="recipe-image-placeholder-detail">
                        <i class="fa-solid fa-utensils"></i>
                    </div>
                {% endif %}
            </div>
            
            <div class="recipe-info">
                <h1 class="recipe-title-detail">{{ recipe.title }}</h1>
                <p class="recipe-description-detail">{{ recipe.description }}</p>
                
                <div class="recipe-stats">
                    {% if recipe.category %}
                        <div class="stat-card">
                            <div class="stat-icon">
                                <i class="fa-solid fa-list"></i>
                            </div>
                            <div class="stat-info">
                                <div class="stat-label">Category</div>
                                <div class="stat-value">{{ recipe.category.name }}</div>                           
                            </div>
                        </div>
                    {% endif %}

                    <div class="stat-card" title="Number of people this recipe serves">
                        <div class="stat-icon">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <div class="stat-info">
                            <div class="stat-value">{{ recipe.servings }}</div>
                            <div class="stat-label">Servings</div>
                        </div>
                    </div>
                    
                    <div class="stat-card" title="Prep time for this recipe">
                        <div class="stat-icon">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                        <div class="stat-info">
                            <div class="stat-value">{{ recipe.preparation_time }}</div>
                            <div class="stat-label">Minutes</div>
                        </div>
                    </div>
                    
                    <div class="stat-card">
                        <div class="stat-icon">
                            <i class="fa-solid fa-calendar-alt"></i>
                        </div>
                        <div class="stat-info">           
                            <div class="stat-label">Published on</div>
                            <div class="stat-value">{{ recipe.created_at|date:"d/m/Y" }}</div>
                        </div>
                    </div>

                    {% if recipe.author %}
                        <div class="stat-card">
                            <div class="stat-icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="stat-info">
                                <div class="stat-label">Created by</div>
                                <div class="stat-value">{{ recipe.author.username }}</div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="recipe-instructions">
            <div class="instructions-header">
                <div class="instructions-icon">
                    <i class="fa-solid fa-list-ol"></i>
                </div>
                <h2>Instructions</h2>
            </div>
            <div class="instructions-content">
                {{ recipe.instructions|linebreaks }}
            </div>
        </div>
    </div>
{% endblock body %}